<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('links') %>
  <link rel="stylesheet" href="/styles/home.css">
  <title>StudyRoom - About</title>
</head>
<body>
  <%- include('navbar') %>
  about
</body>
</html>