<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('links') %>
    <link rel="stylesheet" href="/styles/join.css" />
    <title>StudyRoom - Join</title>
  </head>
  <body>
    <%- include('navbar') %>
    <div class="addBox" title="join new room">
      <img src="/icon/add.png" alt="">
    </div>
    <div class="main">
      <div class="joinContainer">
        <div class="joinBox">
          <input type="text" id="joinRoomInput" placeholder="Enter Room ID" />
          <button class="btn btn-primary" id="joinRoomBtn">Join Room</button>
        </div>
      </div>
      <div class="box" id="box">
        <h1 id="addRoomBtn">
         Available Rooms
        </h1>
        <div class="searchBox">
          <input
            type="text"
            placeholder="search"
            class="search"
            id="searchInput"
          />
        </div>
        <div class="feed" id="feed">
          <img
            src="/icon/emptyList.png"
            alt=""
            class="emptyImg"
            id="emptyImg"
          />
        </div>
      </div>
    </div>

    <script>
      const joinRoomBtn = document.getElementById("joinRoomBtn");
      const joinRoomInput = document.getElementById("joinRoomInput");
      joinRoomBtn.addEventListener("click", () => {
        event.preventDefault();
        const roomId = joinRoomInput.value;
        window.location.href = `room/${roomId}`;
      });
    </script>
  </body>
</html>
