<nav>
  <div class="logo">
    <img src="/icon/logo.png" alt="Logo" />
    <span><a href="/">Study Room</a></span>
  </div>

  <div class="side">
    <div class="links">
      <a href="/">Home</a>
      <a href="/">About us</a>
    </div>
    <a href="/profile/<%= user.username %>"> <img class="profile" id="navImage" src="<%= user.profileImg %>" alt="profile"> </a>
  </div>
 </nav>