*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f2f5;
    width: 100vw;
    height: 100vh;
  }

  .combine{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .logo{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo img{
    height: 60px;
    padding: 10px;
  }
  
  .logo h1{
    font-size: 60px;
    color: blue;
  }  
.container{
    padding: 40px;
    background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px gray;
  border: 1px solid #ccc;

  
    
}
.container h2{
    margin-bottom: 20px;
  font-size: 40px;
}

h2{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 700px;
    align-items: center;
}
input[type="text"]{
    margin: 5px;
}
input[type="text"],input[type="password"],
input[type="number"],input[type="email"]{
    padding: 5px;
    font-size: 25px;
    width: 100%;
    margin: 5px;
}


    .error {
        color: red;
        display: block;
        width: 100%;  /* Ensure errors are displayed */
    }
    


input[type="submit"] {
    width: 100%;
    font-size: 20px;
    background-color: #000000;
    font-size: 25px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 5px;
  }

  input[type="submit"]:hover {
    color: rgb(255, 255, 255);
    background-color: #303030;
  }

.gender{
    width: 100%;
}

.gender label{
    font-size: 25px;
    color: rgba(67, 64, 64, 0.639);
  font-size: small;
  text-decoration: none;
  font-size: 25px;
}

.g1{
    width: 100%;
    font-size: 25px;
    margin-bottom: 15px;
}



.g1 label input{
    margin-left: 25px;
}

.create{
    color: rgba(67, 64, 64, 0.639);

}