<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/signup.css" />
    <title>Form with OTP Verification</title>
  </head>
  <body>
    <div class="main">
      <div class="registration-form-container">
        <div class="registration-form-image-container">
          <img
            src="/icon/logo.png"
            alt="logo"
            srcset=""
            height="50"
            width="50"
          />
        </div>
        <h2>Registration Form</h2>
      </div>
      <form id="registration-form">
        <div>
          <p class="sign-up-container">Sign Up</p>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Name"
            required
          />
          <span id="name-status" class="status"></span>
        </div>
        <div>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="User Name"
            required
          />
          <span id="username-status" class="status"></span>
        </div>
        <div>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            required
          />
          <span id="email-status" class="status"></span>
        </div>
        <div>
          <input
            type="text"
            id="mobile"
            name="mobile"
            placeholder="Mobile"
            required
          />
          <span id="mobile-status" class="status"></span>
        </div>
        <div>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
          />
          <span id="password-status" class="status"></span>
        </div>
        <div>
          <select
            id="gender"
            style="color: rgba(0, 0, 0, 0.6)"
            name="gender"
            placeholder="Gender"
            required
          >
            <option value="">Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
          <span id="gender-status" class="status"></span>
        </div>
        <div>
          <button type="submit" id="submit-button">Submit</button>
        </div>
        <div class="log-in">
          <a href="/auth/login">Log In?</a>
        </div>
      </form>
      <div id="otp-section" class="otp-section">
        <h2>Verify OTP</h2>
        <form id="otp-form">
          <div>
            <span id="otp-status" class="status"></span>
            <label for="otp">OTP (<span id="otpEmail"></span>):</label>
            <input type="text" id="otp" name="otp" required />
          </div>
          <div>
            <button type="submit" id="verify-otp-button">Verify OTP</button>
          </div>
        </form>
      </div>
    </div>
    <script>
      const otpSection = document.querySelector("#otp-section");
      otpSection.style.display = "none";

      const registrationForm = document.querySelector("#registration-form");

      const nameInput = document.querySelector("#name");
      const usernameInput = document.querySelector("#username");
      const emailInput = document.querySelector("#email");
      const mobileInput = document.querySelector("#mobile");
      const passwordInput = document.querySelector("#password");
      const genderInput = document.querySelector("#gender");
      const otpInput = document.querySelector("#otp");

      const usernameStatus = document.getElementById("username-status");
      const emailStatus = document.getElementById("email-status");
      const mobileStatus = document.getElementById("mobile-status");
      const passwordStatus = document.getElementById("password-status");
      const otpStatus = document.getElementById("otp-status");

      otpStatus.innerText = "";

      const validateUsername = async () => {
        const username = usernameInput.value;
        if (username) {
          const response = await fetch(
            `/auth/check-username?username=${username}`
          );
          const data = await response.json();
          if (data.exists) {
            usernameStatus.textContent = "Username is taken";
            return false;
          } else {
            usernameStatus.textContent = "";
            return true;
          }
        } else {
          usernameStatus.textContent = "";
          return false;
        }
      };

      const validateEmail = async () => {
        const email = emailInput.value;
        if (email) {
          const response = await fetch(`/auth/check-email?email=${email}`);
          const data = await response.json();
          if (data.exists) {
            emailStatus.textContent = "Email is taken";
            return false;
          } else {
            emailStatus.textContent = "";
            return true;
          }
        } else {
          emailStatus.textContent = "";
          return false;
        }
      };

      registrationForm.addEventListener("submit", async (event) => {
        event.preventDefault();
        const username = validateUsername();
        const email = validateEmail();
        let valid = true;
        await username.then((result) => {
          if (result === false) {
            valid = false;
          }
        });
        await email.then((result) => {
          if (result === false) {
            valid = false;
          }
        });
        if (passwordInput.value.length < 6) {
          passwordStatus.textContent = "password shoud grether than 6";
          valid = false;
        }
        if (mobileInput.value.length !== 10) {
          mobileStatus.textContent = "mobile shoud be 10 digit";
          valid = false;
        }

        if (valid) {
          submitForm();
        } else {
          return;
        }
      });

      let formData = {};

      const submitForm = async () => {
        formData = {
          name: nameInput.value,
          username: usernameInput.value,
          email: emailInput.value,
          mobile: mobileInput.value,
          password: passwordInput.value,
          gender: genderInput.value,
        };
        const response = await fetch("/auth/submit-form", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(formData),
        });
        const data = await response.json();
        if (data.success) {
          otpSection.style.display = "block";
          registrationForm.style.display = "none";
          document.getElementById("otpEmail").innerText = formData.email;
        } else {
          alert(data.message);
        }
      };

      otpSection.addEventListener("submit", async (event) => {
        event.preventDefault();
        formData = {
          name: nameInput.value,
          username: usernameInput.value,
          email: emailInput.value,
          mobile: mobileInput.value,
          password: passwordInput.value,
          gender: genderInput.value,
          otp: otpInput.value,
        };
        const response = await fetch("/auth/verify-otp", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(formData),
        });
        const data = await response.json();
        if (data.success) {
          otpStatus.innerText = "";
          window.location.href = data.redirectUrl;
        } else {
          otpStatus.innerText = "invalid otp";
        }
      });
    </script>
  </body>
</html>
